astroid @ file:///C:/ci/astroid_1592481955828/work
autopep8 @ file:///tmp/build/80754af9/autopep8_1596578164842/work
certifi==2020.6.20
cffi @ file:///C:/ci/cffi_1600699250966/work
click==7.1.2
colorama==0.4.3
cryptography @ file:///C:/ci/cryptography_1601046913206/work
dnspython==1.16.0
eventlet==0.29.1
Flask==1.1.2
Flask-Cors @ file:///tmp/build/80754af9/flask-cors_1598886879133/work
Flask-SocketIO==4.3.1
greenlet @ file:///C:/ci/greenlet_1600874076725/work
isort @ file:///C:/ci/isort_1600683700218/work
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe @ file:///C:/ci/markupsafe_1594405949945/work
mccabe==0.6.1
monotonic==1.5
pycodestyle==2.6.0
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pylint @ file:///C:/ci/pylint_1598605958085/work
pymongo==3.11.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
python-engineio==3.13.2
python-socketio==4.6.0
six==1.15.0
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
typed-ast==1.4.1
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.11.2
zope.event==4.5.0
zope.interface==5.2.0
